---
http_interactions:
- request:
    method: post
    uri: https://gateway.paylike.io/transactions
    body:
      encoding: UTF-8
      string: '{"currency":"EUR","amount":1000,"card":{"number":"4100000000000000","code":"123","expiry":{"month":"08","year":"2020"}},"key":"<PAYLIKE_PUBLIC_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\n\t\"transaction\": {\n\t\t\"id\": \"5d18a649451afb07969de6f4\"\n\t}\n}"
  recorded_at: Sun, 30 Jun 2019 12:08:42 GMT
- request:
    method: get
    uri: https://api.paylike.io/transactions/5d18a649451afb07969de6f4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <AUTH_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"5d18a649451afb07969de6f4","test":true,"merchantId":"<PAYLIKE_MERCHANT_ID>","created":"2019-06-30T12:08:42.816Z","amount":1000,"refundedAmount":0,"capturedAmount":0,"voidedAmount":0,"pendingAmount":1000,"disputedAmount":0,"card":{"bin":"410000","last4":"0000","expiry":"2020-08-31T21:59:59.999Z","code":{"present":true},"scheme":"visa"},"tds":"none","currency":"EUR","custom":null,"recurring":false,"successful":true,"error":false,"descriptor":"A
        test descriptor","trail":[]}}'
  recorded_at: Sun, 30 Jun 2019 12:08:43 GMT
- request:
    method: post
    uri: https://api.paylike.io/transactions/5d18a649451afb07969de6f4/captures
    body:
      encoding: UTF-8
      string: '{"amount":500}'
    headers:
      Authorization:
      - Basic <AUTH_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"5d18a649451afb07969de6f4","test":true,"merchantId":"<PAYLIKE_MERCHANT_ID>","created":"2019-06-30T12:08:42.816Z","amount":1000,"refundedAmount":0,"capturedAmount":500,"voidedAmount":0,"pendingAmount":500,"disputedAmount":0,"card":{"bin":"410000","last4":"0000","expiry":"2020-08-31T21:59:59.999Z","code":{"present":true},"scheme":"visa"},"tds":"none","currency":"EUR","custom":null,"recurring":false,"successful":true,"error":false,"descriptor":"A
        test descriptor","trail":[{"fee":{"flat":191,"rate":92},"amount":500,"balance":3379,"created":"2019-06-30T12:08:43.445Z","capture":true,"descriptor":"A
        test descriptor","lineId":"5d18a64b094009078f08f0ce"}]}}'
  recorded_at: Sun, 30 Jun 2019 12:08:43 GMT
- request:
    method: post
    uri: https://api.paylike.io/transactions/5d18a649451afb07969de6f4/refunds
    body:
      encoding: UTF-8
      string: '{"amount":333}'
    headers:
      Authorization:
      - Basic <AUTH_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"5d18a649451afb07969de6f4","test":true,"merchantId":"<PAYLIKE_MERCHANT_ID>","created":"2019-06-30T12:08:42.816Z","amount":1000,"refundedAmount":333,"capturedAmount":500,"voidedAmount":0,"pendingAmount":500,"disputedAmount":0,"card":{"bin":"410000","last4":"0000","expiry":"2020-08-31T21:59:59.999Z","code":{"present":true},"scheme":"visa"},"tds":"none","currency":"EUR","custom":null,"recurring":false,"successful":true,"error":false,"descriptor":"A
        test descriptor","trail":[{"fee":{"flat":191,"rate":92},"amount":500,"balance":3379,"created":"2019-06-30T12:08:43.445Z","capture":true,"descriptor":"A
        test descriptor","lineId":"5d18a64b094009078f08f0ce"},{"fee":{"flat":0,"rate":-61},"amount":333,"balance":-2378,"created":"2019-06-30T12:08:43.902Z","refund":true,"descriptor":"A
        test descriptor","lineId":"5d18a64b451afb07969de6f5"}]}}'
  recorded_at: Sun, 30 Jun 2019 12:08:44 GMT
recorded_with: VCR 5.0.0
